.celda {
    width: 35px;
    height: 30px;
    border: 1px solid black;
    display: flex;
  justify-content: center;
  align-items: center;
}

.Maquina.up img{
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}

.Maquina.down img{
  
}

.Maquina.left img{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

.Maquina.right img{
    transform: rotate(-270deg);
    -webkit-transform: rotate(-270deg);
    -moz-transform: rotate(-270deg);
    -o-transform: rotate(-270deg);
}


