.ToolBox{
    height: 350px;
    width: 30%;
    align-content: center;
}

div.ButtonToolbox.seleccionado img{
    filter: hue-rotate(60deg) brightness(500%);
}

h3{
    color:rgb(241, 158, 2);
    /*padding-right: 150%;*/
}

table{
    background-color: aliceblue;
    border-radius: 10%;
    margin: 0 auto; /* or margin: 0 auto 0 auto */
}